{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyKart.net - Driver Items</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="{% static 'img/EasyKart.png' %}">
        </div>

        <div class="search-container">
        <input type="text" class="search-input" placeholder="Search...">
        <span class="search-icon">&#128269;</span> <!-- Unicode for magnifying glass -->
        <span class="clear-icon">&#10006;</span> <!-- Unicode for X -->
    </div>
    </header>

    <main>
        <h1 class="page-title">Driver items</h1>

        <div class="white-line"></div>
        
        
        <div class="button-row">
            <div class="button">Driver Overview</div>
            <div class="button">Create Driver</div>
            <div class="button">Driver in Team in Round</div>
            <div class="button">Create Driver in Team in Round</div>
        </div>
        <div class="back-button">Back</div>
    </div>
    </main>
</body>
</html>